[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
openai = "*"
gtts = "*"
moviepy = "*"
pillow = "*"
matplotlib = "*"
plotly = "*"
transformers = "*"
torch = "*"
tensorflow = "*"
opencv-python = "*"
schedule = "*"
pandas = "*"
requests = "*"
beautifulsoup4 = "*"
python-dotenv = "*"

[dev-packages]

[requires]
python_version = "3.12"
